.about-us{
    display: inline;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.about-us p{
    
    padding-right: 15%;
    text-justify: inter-word;
}
.team{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: center;
}

.team h2{
    margin-bottom: 20px;
    margin-left: 0px;
}