.all-reservations-host{
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.picker{
    display: flex;
    padding-left: 26%;
}
.all-reservations-host datetime-picker{
    width: 250px;
    margin-bottom: 0px;
}

all-reservations-host h2{
    margin-top: 0px;
}

all-reservations-host h4{
    margin-bottom: 0px;
}