.carousel{
    border-width: 0px;
    align-items: center;
    width: 100%;
}

.carousel h3{
    color: black;
}

.carousel p{
    color: black;
}

.carousel-item{
    width: 100%
}

.carousel-caption{
    
}

@media screen and (max-width: 650px) {
    .carousel-caption{
        margin-top: 80px;
        font-size: 8px;
    }
    
    .carousel h3{
        margin-top: 80px;
        font-size: 20px;
    }
}