.layout-type-1 {
    display: flex;
    height: 60%;
    width: 70%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Box-1{
    height: 100%;
    width: 50%;
    display:flex;
    align-items: center;
    justify-content: center;

}

.vertical-line{
    border-right: 2px solid gray;
    
}