.layout-type-1 {
    display: inline-flex;
    height: 60%;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 10%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Box-1{
    margin-left: 5%;
    height: 100%;
    width: 50%;
    display:flex;
    align-items: center;
    justify-content: center;

}

@media screen and (max-width: 700px) {
    .layout-type-1{
        display: inline-block;
    }
    .Box-1 {
        margin-top: 30px;
        width: 90%;
        align-items: center;
        justify-content: center;
    }

    .horizontal-line{
        border-bottom: 5px solid gray;
    }
}

.container{
    background-color: rgb(255, 255, 255);
}