/* .navigation-bar{
    background-color: #F7F8F9;
    overflow: hidden;
}

.navigation-bar a {
    justify-content: space-between;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navigation-bar:hover {
    background-color: #ddd;
    color:black
}

.navigation-bar a:active{
    background-color: #f27980;
    color: white
} */

.form-control{
    margin-left: 30px;
}
.btn {
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 1000px) {
    .form-control{
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 15px;
    }
}