.picker-select{
    border-radius: 30px;
}

.css-yk16xz-control{
    border-radius: 30px;
}

.css-2b097c-container{
    border-radius: 30px;
}

.css-g1d714-ValueContainer{
    color: black;
    border-radius: 30px;

}

.css-2613q7-menu{
    color: black;
    border-radius: 30px;
}

.css-1uccc91-singleValue{
    color: black;
}