.register {
    height: 100%;
    width: 100%;
    display:flex;
    margin-top: 40px;
    margin-bottom: 80px;
    align-items: center;
    justify-content: center;
}
.register-comensal{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 4%;
    box-shadow: 5px 5px 10px 1px rgb(8, 8, 8);
}

.register-restaurant{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 4%;
    box-shadow: 5px 5px 10px 1px rgb(8, 8, 8);
}
.register-background{
    /* background-color: #58595a; */
    background-image: linear-gradient(135deg, #58595a 0%, #17181a 100%);
    padding-top: 40px;
    padding-bottom: 80px;

}

