.text-button{
    display: flex;
    justify-content: space-around;
    background-color: inherit;
    height: 45px;
    width: 120px;
    cursor: pointer;
    display: flex;
    color: black;
    margin-top: 3%;
    margin-right: 20px;

    justify-content: space-around;
    align-items: center;

}
.text-button:hover {
    text-decoration:underline;
}