.text-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: inherit;
    height: 50px;
    width: 100%;
    cursor: pointer;
    display: inline-block;
    color: black;
}
.text-button:hover {
    text-decoration:underline;
}